body {
    background-color: #2b3137;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.app-container {
  text-align: center;
  width: 300%;
  max-width: 400px;
}

h1 {
  font-size: 170%;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #2ea44f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: #94d3a2;
  cursor: not-allowed;
}

a {
    display: block;
    text-align: center;
    color: #58a6ff;
    text-decoration: none;
}

.profile-card {
  border-radius: 10px;
  padding: 20px;
  background: #373e47;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
  border: 3px solid #2ea44f;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 14px;
}

.error-msg {
  color: red;
  margin-top: 10px;
}