body {
    background-color: #eafcff;
    /* text-align: center; */
}

.profile-card {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    color: purple;
    margin-top: 0;
    font-size: 24px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: darkorange;
    transform: scale(1.05);
}