.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}